body {
	overflow: hidden;
	padding: 0;
	margin: 0;

	color: #222;
	background-color: #BBB;
	font-family: arial;
	font-size: 100%;
}

#info .top {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
	text-align: center;
}

#info a {
	color: #66F;
	text-decoration: none;
}

#info a:hover {
	text-decoration: underline;
}

#info .bottom {
	position: absolute;
	bottom: 0px;
	right: 5px;
	padding: 5px;
}

#info #health {
	background: darkred;
	border-radius: 100px;
	font-size: 50px;
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0, 0.5);
	box-shadow: 0 0 10px black;
	font-weight: bold;
	text-align: center;
	padding: 20px;
	margin: 10px 0;
	border: 3px solid white;
}